<% include ../partials/header.ejs %>
<div class="container-fluid">
  <section id="campHeader" class="jumbotron text-center">
    <h1 class="display-3">Welcome to campDB</h1>
    <p class="lead">This app is to  be used by campers to add and rate their favorite campgrounds. If you you haven't yet created an account, click "Sign Up" in the top right corner!</p>
    <a href="/campgrounds/new" class="btn btn-primary">Add a New Campground</a>
    <a href="/campgrounds/userCamps" class="btn btn-info">View Your Submissions</a>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <% campgrounds.forEach(function(campground){ %>
        <div class="col-4">
          <div class="card">
            <img class="card-img-top" src="<%= campground.image %>" alt="">
            <h5 class="card-header text-center"><%= campground.name %></h5>
            <div class="card-body">
              <p class="card-text"><%= campground.description %></p>
              <a href="/campgrounds/<%= campground._id %>" class="btn btn-outline-success btn-sm">More Info</a>
              <a href="#" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
            </div>
            <footer class="card-footer text-muted">Submitted by: <strong><%= campground.author.username %></strong></footer>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
  </section>
</div>

<% include ../partials/footer.ejs %>
